.socialTab {
    width: 60px;
    height: 70px;
    background-color: #333;
    position: absolute;
    left: -60px;
    z-index: -1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    top: 70px;
}

.facebook {
    top: 140px;
}

.instagram {
    top: 210px;
}

.linkedin:hover.socialTab {
    background-color: #EB3D80;
}

.github:hover.socialTab {
    background-color: #18D5F2;
}

.facebook:hover.socialTab {
    background-color: #EB3D80;
}

.instagram:hover.socialTab {
    background-color: #18D5F2;
}

.socialIcon {
    font-size: 200%;
    color: #000;
    margin-top: 10px;
}

@media only screen and (max-width: 440px) {
    .socialTab {
        left: 0;
        top: -70px;
    }

    .github {
        left: 60px;
    }
    
    .facebook {
        left: 120px;
    }
    
    .instagram {
        left: 180px;
    }
}