.contactHeader {
    font-size: 450%;
    font-weight: 200;
    position: absolute;
    top: 250px;
    left: 10%;
}

.contactText {
    font-size: 170%;
    position: absolute;
    top: 450px;
    left: 10%;
    width: 650px;
}

.contactForm {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 850px;
    height: 500px;
    background-color: #292929;
    box-shadow: 4px 4px 2px #111;
}

.inputsContainer {
    width: 314px;
    height: 300px;
    margin-left: 100px;
    margin-top: 60px;
}

.input {
    color: #fff;
    width: 314px;
    height: 32px;
    background: #333;
    border: none;
    font-size: 120%;
    padding-left: 10px;
    margin-bottom: 25px;
    outline: none;
}

.messageArea {
    color: #fff;
    width: 314px;
    height: 133px;
    background: #333;
    border: none;
    font-size: 120%;
    padding-left: 10px;
    resize: none;
    outline: none;
}

.contactButton {
    width: 96px;
    height: 32px;
    background: #EB3D80;
    border: none;
    margin-top: 40px;
    color: #fff;
    font-size: 120%;
}

.disabled {
    background: #555;
}

.pinkColor {
    color: #EB3D80;
}

.blueColor {
    color: #18D5F2;
}

.flexbox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.forgetText {
    font-size: 120%;
    position: absolute;
    top: 200px;
    right: 50px;
}

@media only screen and (max-width: 1780px) {
    .contactHeader {
        font-size: 300%;
    }
    
    .contactText {
        font-size: 120%;
        width: 400px;
    }

    .contactText {
        top: 400px; 
    }
}

@media only screen and (max-width: 1500px) {
    .contactForm {
        width: 450px;
        height: 450px;
    }

    .inputsContainer {
        margin-left: 70px;
    }

    .forgetText {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    .contactForm {
        width: 300px;
        height: 400px;
    }

    .input {
        width: 200px;
        display: block;
    }

    .messageArea {
        width: 200px;
    }

    .inputsContainer {
        margin-top: 10px;
        margin-left: 40px;
        width: 200px;
    }
}

@media only screen and (max-width: 880px) {
    .contactHeader {
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .contactText {
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }

    .contactForm {
        top: 350px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 420px) {
    .contactHeader {
        font-size: 250%;
    }

    .contactText {
        display: none;
    }

    .contactForm {
        top: 260px;
    }
}

@media only screen and (max-width: 340px) {
    .contactHeader {
        left: 45%;
    }
}