.header {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 120px;
    font-family: 'Amatic SC', cursive;
    text-shadow: 3px 0 0 #EB3D80;
}

.logo {
    position: absolute;
    top: 80px;
    right: 15%;
    font-size: 400px;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    text-shadow: -7px 0 0 #EB3D80;
}

.span {
    display: inline-block;
    transition: all 0.4s;
    cursor: default;
}

.an1:hover {
    color: #EB3D80;
    transform: scaleY(1.2);
}

.an2:hover {
    color: #18d5f2;
    transform: scaleY(0.9);
}

.an3:hover {
    color: #EB3D80;
    transform: skewY(20deg);
}