.indexPage {
    height: 100vh;
    width: 100vw;
}

.header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 200px;
    font-size: 120px;
    font-family: 'Amatic SC', cursive;
    text-shadow: 3px 0 0 #EB3D80;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    font-size: 400px;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    text-shadow: -7px 0 0 #EB3D80;
}

.span {
    display: inline-block;
    transition: all 0.4s;
    cursor: default;
}

.an1:hover {
    color: #EB3D80;
    transform: scaleY(1.2);
}

.an2:hover {
    color: #18d5f2;
    transform: scaleY(0.9);
}

.an3:hover {
    color: #EB3D80;
    transform: skewY(20deg);
}

@media only screen and (max-width: 1160px) {
    .header {
        left: 100px;
    }

    .logo {
        right: 5%;
    }
}

@media only screen and (max-width: 890px) {
    .header {
        font-size: 80px;
    }

    .logo {
        right: 5%;
        font-size: 300px;
    }
}

@media only screen and (max-width: 660px) {
    .indexPage {
        display: flex;
    }

    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        position: static;
        margin-top: 50px;
        font-size: 65px;
    }

    .logo {
        position: static;
        font-size: 200px;
        margin-top: 50px;
    }
}