.sectionHeader {
    position: absolute;
    top: 200px;
    left: 230px;
    font-size: 400%;
}

.meTextContainer {
    position: absolute;
    top: 350px;
    left: 230px;
}

.meText {
    font-size: 190%;
    margin-bottom: 20px;
}

.mePinkSpan {
    color: #EB3D80;
}

.meBlueSpan {
    color: #18D5F2;
}

.ballContainer {
    position: absolute;
    right: 150px;
    top: 550px;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.ball1 {
    background: #EB3D80;
    animation-name: pinkball-animation;
}

.ball2 {
    background: #18D5F2;
    animation-name: blueball-animation;
    animation-delay: 0.2s;
}

.ball3 {
    background: #EB3D80;
    animation-name: pinkball-animation;
    animation-delay: 0.4s;
}

.ball4 {
    background: #18D5F2;
    animation-name: blueball-animation;
    animation-delay: 0.6s;
}

@keyframes pinkball-animation {
    0% { transform: translateY(0); }
    10% { background: #18D5F2;}
    50% { transform: translateY(-200px); }
    60% { background: #EB3D80; }
    100% { transform: translateY(0); }
}

@keyframes blueball-animation {
    0% { transform: translateY(0); }
    10% { background: #EB3D80;}
    50% { transform: translateY(-200px); }
    60% { background: #18D5F2; }
    100% { transform: translateY(0); }
}

@media only screen and (max-width: 1250px) {
    .ballContainer {
        display: none;
    }
}

@media only screen and (max-width: 980px) {
    .ballContainer {
        display: block;
    }
}