.sectionHeader {
    position: absolute;
    top: 200px;
    left: 30%;
    transform: translateX(-30%);
    font-size: 400%;
    width: 700px;
}

.meTextContainer {
    position: absolute;
    top: 350px;
    left: 30%;
    transform: translateX(-30%);
    width: 700px;
}

.meText {
    font-size: 190%;
    margin-bottom: 20px;
}

.mePinkSpan {
    color: #EB3D80;
}

.meBlueSpan {
    color: #18D5F2;
}

.ballContainer {
    position: absolute;
    right: 150px;
    top: 550px;
}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.ball1 {
    background: #EB3D80;
    animation-name: pinkball-animation-big;
}

.ball2 {
    background: #18D5F2;
    animation-name: blueball-animation-big;
    animation-delay: 0.2s;
}

.ball3 {
    background: #EB3D80;
    animation-name: pinkball-animation-big;
    animation-delay: 0.4s;
}

.ball4 {
    background: #18D5F2;
    animation-name: blueball-animation-big;
    animation-delay: 0.6s;
}

@keyframes pinkball-animation-big {
    0% { transform: translateY(0); }
    10% { background: #18D5F2;}
    50% { transform: translateY(-200px); }
    60% { background: #EB3D80; }
    100% { transform: translateY(0); }
}

@keyframes blueball-animation-big {
    0% { transform: translateY(0); }
    10% { background: #EB3D80;}
    50% { transform: translateY(-200px); }
    60% { background: #18D5F2; }
    100% { transform: translateY(0); }
}

@keyframes pinkball-animation-small {
    0% { transform: translateY(0); }
    10% { background: #18D5F2;}
    50% { transform: translateY(-70px); }
    60% { background: #EB3D80; }
    100% { transform: translateY(0); }
}

@keyframes blueball-animation-small {
    0% { transform: translateY(0); }
    10% { background: #EB3D80;}
    50% { transform: translateY(-70px); }
    60% { background: #18D5F2; }
    100% { transform: translateY(0); }
}

@media only screen and (max-width: 1250px) {
    .ballContainer {
        display: none;
    }
}

@media only screen and (max-width: 980px) {
    .sectionHeader {
        font-size: 350%;
        left: 50%;
        transform: translateX(-50%);
        top: 100px;
        width: 400px;
    }

    .meTextContainer {
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
    }

    .meText {
        font-size: 150%;
    }

    .mePage {
        display: flex;
    }

    .ballContainer {
        display: block;
        top: auto;
        bottom: 10%;
        left: 50%;
    }

    .ball {
        width: 10px;
        height: 10px;
        margin-right: 10px;    
    }

    .ball1 {
        animation-name: pinkball-animation-small;
    }
    
    .ball2 {
        animation-name: blueball-animation-small;
    }
    
    .ball3 {
        animation-name: pinkball-animation-small;
    }
    
    .ball4 {
        animation-name: blueball-animation-small;
    }
}

@media only screen and (max-width: 570px) {
    .sectionHeader {
        display: flex;
        justify-content: center;
        font-size: 300%;
        width: 200px;
    }

    .meText {
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    .sectionHeader {
        font-size: 250%;
    }

    .meTextContainer {
        width: 250px;
        top: 200px;
    }
    
    .ballContainer {
        display: none;
    }
}