.navbar {
    width: 70px;
    height: 100vh;
    border-right: 1px solid black;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 0.7s ease-out;
    z-index: 100;
}

.navbar:hover {
    width: 150px;
}

.navbar__list {
    list-style: none;
    position: absolute;
    right: 13px;
}

.navbar__list__icon {
    font-size: 200%;
    color: #666;
    margin-bottom: 50px;
}

.navbar__list__item {
    cursor: pointer;
}

.linkSpan {
    position: absolute;
    right: 60px;
    padding-top: 5px;
    font-size: 120%;
}

@media only screen and (max-width: 660px) {
    .navbar__list__icon {
        font-size: 150%;
    }

    .linkSpan {
        font-size: 100%;
        right: 50px;
        padding-top: 2px;
    }
}

@media only screen and (max-width: 570px) {
    .navbar {
        width: 100vw;
        height: 70px;
        border-bottom: 1px solid black;
    }

    .navbar:hover {
        width: 100%;
    }

    .navbar__list {
        padding-top: 50px;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 10px;
    }

    .linkSpan {
        display: none;
    }
}